{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-center">
  <h1>{{ title }}</h1>
  <h5>cart_id : {{ request.session.cart_id }}, user: {{ request.user }}</h5>
</div>
<div class="row">
  <div class="col">
    <img src="{% static 'img/beach.jpg' %}" class="img-fluid" alt="Responsive image" />
    <p>{{ content }}</p>
  </div>
</div>
{% if request.user.is_authenticated %}
<div class="row">
  <div class="col">
    <h1>Premium</h1>
    {{ premium_contents }}
  </div>
</div>
{% endif %}

{% endblock %}